.App {
  /* Assurez-vous que le HTML et le body n'ont pas de marges ou padding par défaut */
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Pour que padding et border soient inclus dans width/height */

  /* Styles pour l'image de fond */
    background-image: url('../public/background.png'); /* Chemin relatif au dossier public */
  background-size: cover; /* L'image couvrira toute la zone */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche l'image de se répéter */
  background-attachment: fixed; /* <--- C'est ça qui empêche le défilement ! */

  /* Assure que la div App prend toute la hauteur et largeur de la fenêtre */
  min-height: 100vh;
  width: 100vw; /* <--- Pour couvrir toute la largeur de la vue */
  overflow: hidden; /* <--- Empêche le défilement si le contenu dépasse */

  /* Centrage du contenu de l'application */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Peut être ajusté si vous voulez le contenu en haut */
  
  /* Couleur du texte par défaut */
  color: white; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
